.navigation {
    width: 100%;
    padding: 1.5rem 3rem;
    background-color: #1f2632;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation ul li {
    color: white;
}

.panelListIcon {
    margin-right: 10px;
}