.leftPanel {
    width: 300px;
    position: fixed;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #131c2c;
    padding-top: 8rem;
}

.leftPanel ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.panelList {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    border-right: 5px solid transparent;
}

.leftPanel ul .active .panelList {
    color: #FFBF00;
    border-color: #FFBF00;
}